In [3]:
import pandas as pd

In [4]:
df1=pd.read_csv('concat_data1.csv')
df2=pd.read_csv('concat_data2.csv')

In [5]:
print(df1,"\n")
print(df2)

   Employee_ID    Name Department
0            1   Emp_1    Finance
1            2   Emp_2  Marketing
2            3   Emp_3         HR
3            4   Emp_4    Finance
4            5   Emp_5    Finance
5            6   Emp_6  Marketing
6            7   Emp_7         HR
7            8   Emp_8         HR
8            9   Emp_9    Finance
9           10  Emp_10         IT

   Employee_ID    Name Department
0           11  Emp_11    Finance
1           12  Emp_12    Finance
2           13  Emp_13    Finance
3           14  Emp_14    Finance
4           15  Emp_15  Marketing
5           16  Emp_16         HR
6           17  Emp_17  Marketing
7           18  Emp_18  Marketing
8           19  Emp_19  Marketing
9           20  Emp_20    Finance

##### goruldugu uxere Employee_ID __devami__ sanki hatta oyle. Name de oyle. Bunu biri ayirmis demi bunu duzeltmemiz gerek

In [9]:
concat_df=pd.concat([df1,df2], ignore_index=True) #bu ignore_index--> index'i gormezden gel demek. Yani index'ler cakismasin diye (defaul=False'dir)

In [10]:
print(concat_df) #goruldugu uzere index'i ignore ederek eklemis

    Employee_ID    Name Department
0             1   Emp_1    Finance
1             2   Emp_2  Marketing
2             3   Emp_3         HR
3             4   Emp_4    Finance
4             5   Emp_5    Finance
5             6   Emp_6  Marketing
6             7   Emp_7         HR
7             8   Emp_8         HR
8             9   Emp_9    Finance
9            10  Emp_10         IT
10           11  Emp_11    Finance
11           12  Emp_12    Finance
12           13  Emp_13    Finance
13           14  Emp_14    Finance
14           15  Emp_15  Marketing
15           16  Emp_16         HR
16           17  Emp_17  Marketing
17           18  Emp_18  Marketing
18           19  Emp_19  Marketing
19           20  Emp_20    Finance

##### simdi iki farkli tablo olup birinde iste bikac tane employee ve maas experience columnları var. bir diger tabloda ise yine birkac tane ama icerisinde ilk tablodan birkac tane employee ayni olmak uzere bu sefer de city, age gibi degerler var. bunları merge etmemiz gerekebilir

## merge

In [11]:
merge1=pd.read_csv('merge_data1.csv')
merge2=pd.read_csv('merge_data2.csv')

In [12]:
print(merge1,"\n")
print(merge2)

   Employee_ID    Name Department
0            1   Emp_1         IT
1            2   Emp_2         HR
2            3   Emp_3         IT
3            4   Emp_4  Marketing
4            5   Emp_5  Marketing
5            6   Emp_6         IT
6            7   Emp_7         IT
7            8   Emp_8         IT
8            9   Emp_9  Marketing
9           10  Emp_10  Marketing

   Employee_ID  Salary  Experience
0            5   55658           3
1            1  114478           5
2           12   48431          19
3           10   32747           7
4            6   89150           9
5           13   95725           7
6            9   65773           4
7           11   86886          18

##### goruldugu uzere 2 tablo ikisinde de columnlar farkli fakat 2. tabloda bazi employee ler 1. tabloda da var bazilari ise yok sadece 1. de  bazilari sadece 2.de

##### sadece kesisen yani her iki tabloda olanlari merge edebiliriz <br> hepsini birlestirip bilgisi bilinmeyenler NaN gorunsun isteyebiliriz

### merge -outer join

In [13]:
merge_outer=pd.merge(merge1, merge2, on="Employee_ID", how="outer") #'on' -->neye gore merge edelim demek icin, 'how' ise nasil olsun. ilk olarak outer

In [14]:
print(merge_outer)

    Employee_ID    Name Department    Salary  Experience
0             1   Emp_1         IT  114478.0         5.0
1             2   Emp_2         HR       NaN         NaN
2             3   Emp_3         IT       NaN         NaN
3             4   Emp_4  Marketing       NaN         NaN
4             5   Emp_5  Marketing   55658.0         3.0
5             6   Emp_6         IT   89150.0         9.0
6             7   Emp_7         IT       NaN         NaN
7             8   Emp_8         IT       NaN         NaN
8             9   Emp_9  Marketing   65773.0         4.0
9            10  Emp_10  Marketing   32747.0         7.0
10           11     NaN        NaN   86886.0        18.0
11           12     NaN        NaN   48431.0        19.0
12           13     NaN        NaN   95725.0         7.0

##### herkes gelir bulamadigi degerlere 'NaN' koyar .... birlesim kumesi gibi dusunebilirsin

### merge - left join

In [16]:
merge_left=pd.merge(merge1, merge2, on="Employee_ID", how="left")

In [17]:
print(merge_left)

   Employee_ID    Name Department    Salary  Experience
0            1   Emp_1         IT  114478.0         5.0
1            2   Emp_2         HR       NaN         NaN
2            3   Emp_3         IT       NaN         NaN
3            4   Emp_4  Marketing       NaN         NaN
4            5   Emp_5  Marketing   55658.0         3.0
5            6   Emp_6         IT   89150.0         9.0
6            7   Emp_7         IT       NaN         NaN
7            8   Emp_8         IT       NaN         NaN
8            9   Emp_9  Marketing   65773.0         4.0
9           10  Emp_10  Marketing   32747.0         7.0

##### bu goruldugu uzere ana tablo olarak 1. tabloyu alir. 2. tablodaki column'lari getirir. Eger hem 1. de hem de 2.de olan elemanlar varsa bunlarin ozelliklerini doldurur..<br> kumede A ile B kumesinin islemi gibi. A ile B kesistir. S(A) al. sonucta A ile B nin kesistigi bolge de A'nin elemani deil mi

### merge - Right join

In [18]:
merge_right=pd.merge(merge1, merge2, on="Employee_ID", how="right")

In [19]:
print(merge_right)

   Employee_ID    Name Department  Salary  Experience
0            5   Emp_5  Marketing   55658           3
1            1   Emp_1         IT  114478           5
2           12     NaN        NaN   48431          19
3           10  Emp_10  Marketing   32747           7
4            6   Emp_6         IT   89150           9
5           13     NaN        NaN   95725           7
6            9   Emp_9  Marketing   65773           4
7           11     NaN        NaN   86886          18

##### bu da 2. tabloyu ana baz alir. geri klan ayni mantik

### merge - inner join

##### bu da tahmin edilecegi uzere sadece kesisim bolgesi

In [20]:
merge_inner=pd.merge(merge1, merge2, on="Employee_ID", how="inner")

In [21]:
print(merge_inner)

   Employee_ID    Name Department  Salary  Experience
0            1   Emp_1         IT  114478           5
1            5   Emp_5  Marketing   55658           3
2            6   Emp_6         IT   89150           9
3            9   Emp_9  Marketing   65773           4
4           10  Emp_10  Marketing   32747           7