In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('apply_function_data.csv')

In [4]:
print(df) #goruldugu uzere baya buyuk bir data

    Employee_ID     Name Department  Salary  Experience  Performance_Score
0             1    Emp_1  Marketing   82251           6                  5
1             2    Emp_2      Sales   52662          24                  3
2             3    Emp_3    Finance   38392           5                  3
3             4    Emp_4      Sales   60535          20                  3
4             5    Emp_5      Sales  108603           2                  2
..          ...      ...        ...     ...         ...                ...
95           96   Emp_96    Finance   93734          19                  4
96           97   Emp_97      Sales  100467          22                  2
97           98   Emp_98         IT   82662          23                  3
98           99   Emp_99         IT   42688          22                  1
99          100  Emp_100         HR   55342          14                  3

[100 rows x 6 columns]

In [5]:
print(df.head(),"\n")
print(df.tail())

   Employee_ID   Name Department  Salary  Experience  Performance_Score
0            1  Emp_1  Marketing   82251           6                  5
1            2  Emp_2      Sales   52662          24                  3
2            3  Emp_3    Finance   38392           5                  3
3            4  Emp_4      Sales   60535          20                  3
4            5  Emp_5      Sales  108603           2                  2

    Employee_ID     Name Department  Salary  Experience  Performance_Score
95           96   Emp_96    Finance   93734          19                  4
96           97   Emp_97      Sales  100467          22                  2
97           98   Emp_98         IT   82662          23                  3
98           99   Emp_99         IT   42688          22                  1
99          100  Emp_100         HR   55342          14                  3

In [7]:
print(df.describe(),"\n")
print(df.info()) #diyerek bos bir column olup olmadigini teyit edelim

       Employee_ID         Salary  Experience  Performance_Score
count   100.000000     100.000000  100.000000          100.00000
mean     50.500000   77508.090000   12.090000            3.03000
std      29.011492   26083.327596    7.543939            1.41746
min       1.000000   30206.000000    1.000000            1.00000
25%      25.750000   54347.500000    5.000000            2.00000
50%      50.500000   80932.000000   12.000000            3.00000
75%      75.250000   97620.500000   19.000000            4.00000
max     100.000000  119474.000000   24.000000            5.00000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_ID        100 non-null    int64
 1   Name               100 non-null    object
 2   Department         100 non-null    object
 3   Salary             100 non-null    int64
 4   Experience         100 non-null    int64
 5   Performance_Score  100 non-null    int64
dtypes: int64(4), object(2)
memory usage: 4.8+ KB
None

##### biz buraya yeni column eklemek istiyoruz ve mantik su olsun. eger salary, ortalama salary'den kucukse-->low, 10000 fazlasina kadar aradaysa -->medium, 10000 fazlasindan da fazlaysa-->high yazsin

##### oncelikle bunun fonksiyonunu yazalim

In [8]:
def salary_category(salary):
    if salary<50000:
        return "low"
    elif 50000<=salary<80000:
        return "medium"
    else:
        return "high"

#### burdan sonra kullanacagimiz metot-->apply

In [11]:
print(df["Salary"].apply(salary_category)) #bu sekilde column olusturabiliriz. tabi bunu eklemek de isteyebilriz

0       high
1     medium
2        low
3     medium
4       high
       ...
95      high
96      high
97      high
98       low
99    medium
Name: Salary, Length: 100, dtype: object

In [12]:
df["Salary_Category"]=df["Salary"].apply(salary_category)

In [14]:
print(df) #bu sekilde eklendigini gorebiliriz

    Employee_ID     Name Department  Salary  Experience  Performance_Score  \
0             1    Emp_1  Marketing   82251           6                  5
1             2    Emp_2      Sales   52662          24                  3
2             3    Emp_3    Finance   38392           5                  3
3             4    Emp_4      Sales   60535          20                  3
4             5    Emp_5      Sales  108603           2                  2
..          ...      ...        ...     ...         ...                ...
95           96   Emp_96    Finance   93734          19                  4
96           97   Emp_97      Sales  100467          22                  2
97           98   Emp_98         IT   82662          23                  3
98           99   Emp_99         IT   42688          22                  1
99          100  Emp_100         HR   55342          14                  3

   Salary_Category
0             high
1           medium
2              low
3           medium
4             high
..             ...
95            high
96            high
97            high
98             low
99          medium

[100 rows x 7 columns]

In [18]:
def new_performance(experience):
    if experience>10:
        return 1
    else:
        return 0

In [19]:
print(df["Experience"].apply(new_performance))

0     0
1     1
2     0
3     1
4     0
     ..
95    1
96    1
97    1
98    1
99    1
Name: Experience, Length: 100, dtype: int64

In [21]:
df["New_Score"]= df["Performance_Score"] + df["Experience"].apply(new_performance)

In [22]:
print(df)

    Employee_ID     Name Department  Salary  Experience  Performance_Score  \
0             1    Emp_1  Marketing   82251           6                  5
1             2    Emp_2      Sales   52662          24                  3
2             3    Emp_3    Finance   38392           5                  3
3             4    Emp_4      Sales   60535          20                  3
4             5    Emp_5      Sales  108603           2                  2
..          ...      ...        ...     ...         ...                ...
95           96   Emp_96    Finance   93734          19                  4
96           97   Emp_97      Sales  100467          22                  2
97           98   Emp_98         IT   82662          23                  3
98           99   Emp_99         IT   42688          22                  1
99          100  Emp_100         HR   55342          14                  3

   Salary_Category  New_Score
0             high          5
1           medium          4
2              low          3
3           medium          4
4             high          2
..             ...        ...
95            high          5
96            high          3
97            high          4
98             low          2
99          medium          4

[100 rows x 8 columns]