In [1]:
import numpy as np
import pandas as pd

In [2]:
hava_durumu = pd.read_excel('weather.xlsx') #normalde 'csv' daha cok kullanilir. Excel'e gore daha kucuk alan kaplar. Simdilik Excel kullanalim

In [3]:
print(hava_durumu)

   Istanbul  New York  Amsterdam  Paris
0        20        10         15     12
1        21        10         17     14
2        20        13         18     15
3        22        14         19     18
4        25        15         15     20
5        28        13         22     16
6        15        12         15     15
7        20        15         14     14
8        22        16         16     16

##### ama tabiki karsimiza bu kadar kucuk data cikmicak demi.

In [4]:
print(hava_durumu.head(),"\n") #bize ilk 5 eleman icin getirir
print(hava_durumu.tail()) #son 4-5 elemani getirir

   Istanbul  New York  Amsterdam  Paris
0        20        10         15     12
1        21        10         17     14
2        20        13         18     15
3        22        14         19     18
4        25        15         15     20

   Istanbul  New York  Amsterdam  Paris
4        25        15         15     20
5        28        13         22     16
6        15        12         15     15
7        20        15         14     14
8        22        16         16     16

##### bu kullanimin onemi cok buyuk verilerde az bi neymis ne degilmis diye goz atabilmek icin

In [7]:
print(hava_durumu.info()) #bize bu dataframe hakkinda detayli bilgi verecektir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Istanbul   9 non-null      int64
 1   New York   9 non-null      int64
 2   Amsterdam  9 non-null      int64
 3   Paris      9 non-null      int64
dtypes: int64(4)
memory usage: 420.0 bytes
None

In [8]:
print(hava_durumu.describe()) #bu bize cok onemli degerler verecektir. std sapma, mean... bu degerler verileri gormeden veri hakkinda yorum yapabilmek
                             #icin onemli verilerdir.

        Istanbul   New York  Amsterdam      Paris
count   9.000000   9.000000   9.000000   9.000000
mean   21.444444  13.111111  16.777778  15.555556
std     3.609401   2.147350   2.538591   2.351123
min    15.000000  10.000000  14.000000  12.000000
25%    20.000000  12.000000  15.000000  14.000000
50%    21.000000  13.000000  16.000000  15.000000
75%    22.000000  15.000000  18.000000  16.000000
max    28.000000  16.000000  22.000000  20.000000

In [9]:
print(hava_durumu.isna()) #bos (null) deger olup olmadigina bakar

   Istanbul  New York  Amsterdam  Paris
0     False     False      False  False
1     False     False      False  False
2     False     False      False  False
3     False     False      False  False
4     False     False      False  False
5     False     False      False  False
6     False     False      False  False
7     False     False      False  False
8     False     False      False  False